url,brand,title,from,to
https://www.dafiti.com.br/Tenis-Sapatenis-Casual-JL-SHOES-Branco-5697315.html,JL SHOES,Tênis Sapatênis Casual JL SHOES Branco,"R$ 139,90","R$ 69,90"
https://www.dafiti.com.br/Tenis-Slip-On-Casual-Forrado-JL-Shoes-JL26-Onca-5978903.html,JL SHOES,Tênis Slip On Casual Forrado JL Shoes JL26 Onça,"R$ 159,90","R$ 69,90"